<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href=""><a> <img id="imageNav" src="assets/logo2.png" alt="" height="50" width="50"></a></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#contact">Contact us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/vendorregister" tabindex="-1" aria-disabled="true" style="color: whitesmoke;"><span class="glyphicon glyphicon-user"></span>Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="vendor-search" tabindex="-1" aria-disabled="true" style="color: whitesmoke;">Vendor Search</a>            
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="admin/login" tabindex="-1" aria-disabled="true" style="color: whitesmoke;">Admin login</a>            
        </li>
        <li class="nav-item">      
            <a class="nav-link active" href="/login" tabindex="-1" aria-disabled="true" style="color: whitesmoke;">
                <span style="margin-right: 5px;"><img src="assets/login.png" alt="" height="20" width="20"></span> User Login
            </a>        
        </li>
    </ul>
  </div>  
</nav>
<br>

</body>
</html>